/* Css font-list start */
/* CSS rules to specify families */

/* font-family: 'Audiowide', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Teko', sans-serif; */

/* css font-list end */

body{
    padding:100px;
}
h1, h3, h4, h5 {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}
h2{
    font-family: 'teko';
    font-size:40px;
    letter-spacing:1px;
}
.submit-area{
    padding:80px;
   border-radius : 10px;
   box-shadow: 2px 2px 10px #a8a8a8; 
}
.transection-area-first-row{
    margin-top: 80px;

}
.deposit h6, .withdraw h6, .balance h6{
    font-size:50px;
}
.deposit {
    background-color:tomato;
}
.withdraw{
    background-color: blueviolet;
}
.balance{
    background-color: wheat;
}
.status{
    margin : 0 20px;
    border-radius: 10px;
}




#login {
    font-family: 'Teko';
}
#transection-area{
    display: none;
    font-family: 'Teko';
    font-size: 42px;
}
#deposit{}
#withdraw{}
#balance{}
#amount-input{
    margin-top: 50px;
    display: none;
}